
body{
  display: flex;
  justify-content: center;
  background-color: #303030;
}

section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

select, button{
  height: 25px;
  width: 200px;
  border-radius: 10px;
}

th{
  background-color: black;
}


tr:nth-child(odd){
  background-color: #394a5b;
  color:white;
}
tr:nth-child(even){
  background-color: darkgrey;
}


tr, td{
  display: flex;
  border-style: solid;
  border-width: 2px;
  justify-content: space-between;
}
td{
  width:200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  

}

th{
  width:200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

