
body{
  display: flex;
  justify-content: center;
  background-color: grey;
}

th{
  background-color: black;
}


tr:nth-child(odd){
  background-color: cornflowerblue;
  color:white;
}
tr:nth-child(even){
  background-color: lightgrey;
}


tr, td{
  display: flex;
  border-style: solid;
  border-width: 2px;
  justify-content: space-between;
}
td{
  width:200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  

}

th{
  width:200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

